/* VARS */
:root{
  --body-bgc: #A3D5FF;
  --taskContainer-bgc: #83C9F4;
  --prymary-font-color: #FFFFFF;
  --primary-font: 'JetBrains Mono', monospace;
}
/* BODY */
body{
  background-color: var(--body-bgc) ;
  font-family: var(--primary-font);
  color: var(--prymary-font-color);
}
/* MAIN */
.container-lf{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.tasks-container,
.new-task{
  background-color: var(--taskContainer-bgc);
}

.form-control:focus{
  border: none;
  outline: none;
  box-shadow: none;
}